@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

#guest-bg {
  background: radial-gradient(circle at 50% 0, #ffdbfa 10%, #ffffff 75%);
}

#speaker-indicator {
  animation-duration: 500ms;
}

@keyframes radial-grow {
  from {
    transform: scale(70%);
  } to {
    transform: scale(98%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  } to {
    transform: translateX(0);
  }
}

@keyframes grow-in {
  from {
    transform: scaleX(0);
  } to {
    transform: scaleX(1);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
